@import "some.css";

body {
 
  font-family:Roboto-Light, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color:#2d2d42;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}
.b-header {
  width: 100%;
  background-color: #2d2d42;
  padding: 30px 0px 30px 0px;
}

.b-wrapper {
  margin-bottom: 40px;
}
.b-container {
  width: 100%;
 padding: 0 30px 0 30px;
  margin: auto;
}
.b-title {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.31px;
  color: #2d2d42;
  margin-bottom: 20px;
  word-spacing: 2px;
}
.b-title--header {
  color: #f4f4f7;
}

.b-subtitle {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: normal;
  font-family: Roboto-Light, sans-serif;
  margin-bottom: 30px;
}

.b-subtitle--header {
  color: #f4f4f7;
  margin-bottom: 100px;
}

.b-link__text {
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.b-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-link:hover {
  opacity: 0.6;
}
.b-link__img {
  height: 20px;
  width: 20px;
}

.b-work {
  padding: 30px 0px 20px 0px;
  width: 100%;
}
.b-subtitle--work {
  margin-bottom: 54px;
}
.b-card{
  border-top: 1px solid #c0c6c8;
   width: 100vw;
margin-left: calc(-50vw + 50%);


}
.b-col {
  display: flex;
  flex-direction: column;

}
.b-row {
  display: flex;
  align-items: center;
padding: 30px;
}
.b-row--some{
border-bottom:1px solid #c0c6c8;
margin-bottom: 29px;
}


.b-col__img {
  background-color: #63c9e0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-col__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  color:#2d2d42;
}

.b-col--hire {
  background-color: #f47e3d;
}
.b-col--digital {
  background-color: #d04b9b;
}
.b-title--work{
  color:#c0c6c8;
  margin-bottom: 30px;
}

.list{
  list-style: none;
}
.list__item{
  position: relative;
 line-height: 20px;
 margin-bottom: 20px;
 letter-spacing:-0.1px;
}
.list__item::before{
  content:"";
  width: 20px;
  height: 1px;
  background-color:#64cae1;
position: absolute;
  top:9px;
  left:-40px;
  margin: 0;
}